<div class="user-show all-wrapper">
  <div class="user-show-container all-container">
    <div class="user-show-title">
      <h2>ユーザー情報</h2>
    </div>  
    <div class="follow-dm-flex">

      <div class="to-chat-room">
         <%= render 'contact'%>
      </div>

      <div class="follow_form">
        <% if @user != current_user %>
          <%#ログイン中のユーザーが既にfollowしていたらunfollowにしていなければfollowするにする %>
          <% if current_user.following?(@user) %> 
            <%= render 'unfollow' %>
          <% else %>
            <%= render 'follow' %>
          <% end %>
        <% end %>
      </div>
      
    </div>  

    
    <div class="user-show-content">
      <div class="user-show-image">
        <%= attachment_image_tag @user, :profile_image, fallback: "no-image.png", class: 'no-image'%>
      </div>
      <div class="user-show-username">
        <%= @user.student_id %>
        <%= @user.username %>
      </div>

      <div class="user-show-profile">
        <%= @user.profile %>
      </div>

      <%= link_to "フォロー#{@user.followings.count}", followings_user_path(@user), class: "relationship-btn" %>

      <%= link_to "フォロワー#{@user.followers.count}", followers_user_path(@user), class: "relationship-btn" %>

      <% if @user.id == current_user.id %>
        <div class="loginuser-only">
          <%= link_to '編集',edit_user_registration_path, class: 'loginuser-only-btn' %>
        </div>
      <% end %>
    
    </div>

    <%# 投稿一覧、いいね一覧、コメント一覧 %>
    <div class="tabmenu-btns">
      <p class="tabmenu-btn is-active-tab" data-id="tabmenu-post-all">投稿<span><%= @user.posts.count %></span></p>
      <p class="tabmenu-btn" data-id="tabmenu-like-all">いいね<span><%= @user.likes.count %></span></p>
      <p class="tabmenu-btn" data-id="tabmenu-comment-all">コメント<span><%= @user.comments.count %></span></p>
    </div>

    <div class="tabmenu-content is-active-content" id="tabmenu-post-all">
      <% if @user.posts.present? %>
        <div class="tabmenu-container">
          <% @user.posts.each do |post| %>
            <div class="tabmenu-post-link">
              <%= link_to post_path(post), class: 'link_to_mypost' do %>
                <div class="tabmenu-post-content">

                  <div class="tabmenu-post-image">
                    <%= attachment_image_tag post, :image, fallback: "nothing-image.png", class: 'tabmenu-post-img'%>
                  </div>

                  <div class="tabmenu-post-title">
                    <%= post.title %>
                  </div>

                </div>
              <% end %>
            </div> 
          <% end %>
        </div>
      <% else %>
        <div class="all-nothing">
          <p>投稿はありません</p>
        </div>
      <% end  %>
    </div>

    <%# いいね一覧 %>
    <div class="tabmenu-content" id="tabmenu-like-all">
      <% if @user.liked_posts.present? %>
        <div class="tabmenu-container">
          <% @user.liked_posts.each do |post| %>
            <div class="tabmenu-post-link">
              <%= link_to post_path(post) do %>
                <div class="tabmenu-post-content">

                  <div class="tabmenu-post-image">
                    <%= attachment_image_tag post, :image, fallback: "nothing-image.png", class: 'tabmenu-post-img'%>
                  </div>

                  <div class="tabmenu-post-title">
                    <%= post.title %>
                  </div>

                </div>
              <% end %>
            </div> 
          <% end %>
        </div>
      <% else %>
        <div class="all-nothing">
          <p>いいねした投稿はありません</p>
        </div>
      <% end %>
    </div>


  <%# コメント一覧 %>
    <div class="tabmenu-content" id="tabmenu-comment-all">
      <% if @user.comments.present? %>
        <div class="tabmenu-container">
          <% @user.comments.each do |comment| %>
            <div class="tabmenu-comment-link">
              <%= link_to post_path(comment.post_id) do %>
                <div class="comment-all">

                  <div class="comment-user-images">
                    <%= attachment_image_tag @user, :profile_image, fallback: "nothing-image.png", class: 'comment-user-img'%>
                  </div>

                  <div class="comment-content comment-user-content">
                    <%= comment.content %>
                  </div>
                
                </div>
                 <p class="comment-time"><%= comment.set_date%></p>
              <% end %>
            </div> 
          <% end %>
        </div>
      <% else %>
        <div class="all-nothing">
          <p>コメントした投稿はありません</p>
        </div>
      <% end %>
    </div>

  </div>
</div>

<%= javascript_pack_tag 'user/show' %>




  
  


