    <div class="post-new-content">
      <%= form_with model: @post, local: true do |f| %>

        <%= render 'error_messages' %>
        
        <div class="post-create">
          <%= f.text_field :title, placeholder: 'タイトルを書く', class: 'post-new-field', id: 'title' %>
        </div>
        <div class="post-create">
          <%= f.text_area :body, placeholder: '本文を書く', class: 'post-new-field', rows: 10, id: 'body' %>
        </div>
        <div class="post-create">
          <%= f.file_field :post_photo %>
        </div>
        <div class="post-create tag-create">
          <span class="tag-notice">※タグを複数入力する場合は半角スペースを入れてください</span>
          <%= f.text_field :tag_name, placeholder: 'タグを入力してください', class: 'tag-field' %>
        </div>
      
      <div class="post-new-btn-container">
        <%= f.submit '投稿する', class: 'post-new-btn'%>
      </div>
      <% end %>
    </div>