<div class="post-index all-wrapper">
  <div class="post-index-container all-container">
    <%= link_to '前のページに戻る>>', :back , class: 'back-btn'%>
      <div class="post-index-title all-title">
        <h2>検索結果<%= @posts.count %>件</h2>
      </div>

      <% @posts.each do |post| %>
          <div class="post-index-link">
            <%= link_to post_path(post) do %>
              <div class="post-index-content">
                <div class="post-index-image">
                  <% if post.post_photo.attached? %>
                    <%= image_tag post.post_photo, class: 'post-index-img' %>
                  <% else %>
                    <%= image_tag 'nothing-image.png', class: 'post-index-img' %>
                  <% end %>
                </div>

                <div class="post-index-title">
                  <%= post.title %>
                </div>
              </div>
               <div class="post-index-info-container">
                <span class="post-index-info"><i class="fas fa-heart"></i><%= post.likes.count %></span>
                <span class="post-index-info"><i class="fas fa-comments"></i><%= post.comments.count %></span>
                <span class="post-index-info"><%= post.created_at.strftime("%Y年%m月%d日%H時%M分") %></span>
              </div>
            <% end %>
          </div>
      <% end %>

  </div>
</div>      